<p id="notice"><%= notice %></p>

<div class="product_detail_image">
	<img src="<%=@result['images'][0]['link']%>">
</div>

<div class="product_detail_description">
	<p> <%= @result['description'] %> </p>
</div>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
	<b>Reviews:</b>
	<ul>
	<% @reviews.each do |review|%>
		<li><blockquote><%= review.body %></blockquote></li>
	<% end %>
	</ul>
</p>

<%= link_to 'Write a new review', new_review_path %> |
<!-- <a href="/reviews/new?product_id=<%=@product.id%>"> Write a new review</a> | -->
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
