<p id="notice"><%= notice %></p>

<h1> Review of <%= @product_name %> </h1>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>



<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
